* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /*  height: 100%;*/
  max-width: 100%;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: #0071ae;
  text-decoration: none;
}
a:hover {
  color: tomato;
}

.center {
  text-align: center;
}

header {
  height: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #0071ae;
}
@media (min-width: 500px) {
  header {
    height: 200px;
  }
}

.wrapper {
  max-width: 900px;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .wrapper {
    height: 200px;
  }
}

.logo {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 10px;
  height: 80px;
}
@media (min-width: 500px) {
  .logo {
    height: 100px;
    bottom: 70px;
  }
}

.title h1 {
  display: inline-block;
  color: white;
  position: absolute;
  bottom: 20px;
  vertical-align: bottom;
  left: 160px;
  margin: 0;
}
@media (min-width: 500px) {
  .title h1 {
    bottom: 80px;
  }
}

.nav-list {
  position: absolute;
  display: none;
  top: 100px;
  width: 100%;
  background: white;
  padding-top: 15px;
}
@media (min-width: 500px) {
  .nav-list {
    top: 200px;
    display: block;
  }
}
.nav-list ul {
  list-style: none;
  margin: 0 auto;
  padding: 0 0 15px 0;
  border-bottom: 5px solid #0071ae;
}
@media (min-width: 500px) {
  .nav-list ul {
    padding-left: 140px;
  }
}
.nav-list ul li {
  padding: 15px 0;
  text-align: center;
  color: #0071ae;
}
@media (min-width: 500px) {
  .nav-list ul li {
    display: inline;
    padding: 15px 20px;
  }
}

.nav-burger {
  position: absolute;
  color: white;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
}
@media (min-width: 500px) {
  .nav-burger {
    display: none;
  }
}

.spacer-top {
  margin-top: 150px;
}
@media (min-width: 500px) {
  .spacer-top {
    margin-top: 280px;
  }
}

section {
  margin-top: 50px;
  padding: 10px;
}
section h2 {
  text-align: center;
}

.profile {
  padding: 10px;
  border: 5px solid #0071ae;
  border-radius: 20px;
  background: rgba(0, 113, 174, 0);
  max-width: 300px;
  margin: 0 auto;
}

.gallery img {
  border-radius: 20px;
}

footer {
  width: 100%;
  height: 80px;
  border-top: 3px solid #0071ae;
  text-align: center;
  margin-top: 50px;
}
