/* line 1, sass/_global.scss */
* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, sass/_main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, sass/_main.scss */
header h1 {
  text-align: center;
}

/* line 11, sass/_main.scss */
#map {
  height: 500px;
  width: 100%;
  margin: 50px auto;
  display: inline-block;
}

/* line 18, sass/_main.scss */
#left {
  width: 45%;
  display: inline-block;
}

/* line 23, sass/_main.scss */
#right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

/* line 29, sass/_main.scss */
#container {
  padding-left: 20px;
}

/* line 33, sass/_main.scss */
input, button {
  font-size: 1em;
}
