* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

*, html, body {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 14px;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  line-height: 60px;
}

h2 {
  font-size: 1.2em;
}

header {
  background: burlywood;
  z-index: 10;
  height: 60px;
}

#container {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

#side {
  position: absolute;
  width: 250px;
  z-index: 10;
  padding: 10px;
  background: antiquewhite;
  top: 60px;
  max-height: 100%;
  overflow: scroll;
}

#cafe {
  display: inline-block;
  width: 200px;
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 0;
  background: antiquewhite;
  padding: 10px;
}

#map {
  height: 100%;
  z-index: 0;
}

#list {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  margin-top: 10px;
}

#search {
  max-width: 100%;
  vertical-align: top;
  z-index: 1;
  margin-top: 30px;
}

ol#list1 {
  padding-left: 0;
}

#list-cafe li {
  list-style-position: inside;
  list-style-type: none;
  padding: 5px 10px;
  background: antiquewhite;
  border-bottom: burlywood 1px solid;
}

#list-cafe li:hover {
  cursor: pointer;
  background: burlywood;
}

#list-cafe li:first-child {
  border-top: burlywood 1px solid;
}

#list-cafe li.amazing {
  background: burlywood;
}

input, button {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 1px burlywood solid;
}

input {
  background: white;
  color: burlywood;
}

button {
  background: burlywood;
  color: white;
}

#filter-input, #location-input {
  width: 70%;
}

img {
  max-width: 100%;
}

#nav-row {
  z-index: 40;
}

#nav-button {
  position: absolute;
  right: 0;
  top: 0;
  background: antiquewhite;
  padding: 10px;
}
