*, html, body {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 14px;
  height: 100%;
}
h1 {
  text-align: center;
  font-size: 1.6em;
  padding: 10px 0;
}

h2 {
  font-size: 1.2em;
}

p {}

header {
  background: $darkbrown;
  margin-bottom: 10px;
}
#map-container {
  width: 100%;
  display: inline-block;
}
#map {
  height: 200px;
  width: 100%;
  margin: 5px auto;
  display: inline-block;
  
  @media screen and (min-width: 600px) {
    height: 500px;
  }
}





#container {
  padding: 0 10px;
  max-width: 900px;
  margin: 0 auto;
}

input, button {
  font-size: 1em;
  padding: 10px;
}




#cafe {
  display: inline-block;
  width: 40%;
}
#details {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#photos {
  display: inline-block;
  max-width: 100%;
}
#list {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
ol#list1 {
  padding-left: 0;
}

#list1 li {
  list-style-position: inside;
  list-style-type: none;
  padding: 5px 10px;

}

li:hover {
  cursor: pointer;
}

#list1 li:nth-child(even) {
  background: $lightbrown;
}

#list1 li:nth-child(odd) {
  background: $darkbrown;
}
#search {
  max-width: 100%;
  vertical-align: top;
}



img {
  max-width: 100%;
}