*, html, body {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 14px;
  height: 100%;
}

// TYPOGRAPHY 

h1 {
  text-align: center;
  font-size: 1.6em;
  padding: 10px 0;
}

h2 {
  font-size: 1.2em;
}

p {}


// SECTIONS
header {
  background: $darkbrown;
  z-index: 10;
  height: 60px;
}
#container {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

#side {
  position: absolute;
  width: 300px;
  z-index: 10;
  padding: 10px;
  background: $lightbrown;
  top: 60px;
}

#cafe {
  display: inline-block;
  width: 200px;
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 0;
  background: $lightbrown;
  padding: 10px;
}

#map {
  height: 100%;  
  z-index: 0;
}

#list {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}
#search {
  max-width: 100%;
  vertical-align: top;
  z-index: 1;
}





#details {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#photos {
  display: inline-block;
  max-width: 100%;
}

ol#list1 {
  padding-left: 0;
}

#list-cafe li {
  list-style-position: inside;
  list-style-type: none;
  padding: 5px 10px;
  background: $lightbrown;
  border-bottom: $darkbrown 1px solid;
}

#list-cafe li:hover {
  cursor: pointer;
  background: $darkbrown;
}

#list-cafe li:first-child {
  border-top: $darkbrown 1px solid;
}

#list-cafe li.amazing {
  background: $darkbrown; 
}


// ELEMENTS

input, button {
  font-size: 1em;
  padding: 10px;
}



img {
  max-width: 100%;
}

#nav {
}