* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /*  height: 100%;*/
  height: 2000px;
  max-width: 100%;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: tomato;
  }
}

.center {
  text-align: center;
}
//
// HEADER
//


header {
  height: 150px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: $blue;
  @media (min-width: 500px) {
    height: 200px;
  }
  
}
.wrapper {
  max-width: 900px;
  height: 150px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  @media (min-width: 500px) {
    height: 200px;
  }
}


.logo {
  position: absolute;
  display: inline-block;
  bottom: 25px;
  left: 10px;
  height: 100px;
      @media (min-width: 500px) {
    bottom: 70px;
  }
}

.title h1 {
  display: inline-block;
  color: white;
  position: absolute;
  bottom: 30px;
//  line-height: 100px;
  vertical-align: bottom;
  left: 160px;
  margin: 0;
    @media (min-width: 500px) {
    bottom: 80px;
  }
}

.nav-list {
  
  position: absolute;
  display: none;
  top: 150px;
  width: 100%;
  background: white; // to stop text from underneath showing
  padding-top: 15px;
  @media (min-width: 500px) {
    top: 200px;
    display: block;
  }


  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 15px 0;
    border-bottom: 5px solid $blue;
    @media (min-width: 500px) {
      padding-left: 140px;
    }
    
      
    li {
      padding: 15px 0;
      text-align: center;
      color: $blue;
          @media (min-width: 500px) {
            display: inline;
            padding: 15px 20px;
            
      }

    }
  }
}

.nav-burger {
  position: absolute;
  color: white;
  font-size: 40px;
  right: 20px;
  bottom: 30px;
  @media (min-width: 500px) {
    display: none;
  }
}

//
// SECTION
//

.spacer-top {
  margin-top: 190px;
    @media (min-width: 500px) {
    margin-top: 280px;
  }
}

section {
  margin-top: 50px;
  padding: 10px;
  h2 {
    text-align: center;
  }
  
}

.profile {
  padding: 10px;
  border: 5px solid $blue;
  border-radius: 20px;
  background: rgba(0, 113, 174, 0);
  max-width: 300px;
  margin: 0 auto;
}

.gallery img {
  border-radius: 20px;
}


// 
// FOOTER
//

footer {
  width: 100%;
  height: 80px;
  border-top: 3px solid $blue;
  text-align: center;
  margin-top: 50px;
}