//Remember that variables are defined with variable_name: variable_value; – don't forget the semi colon, and don't use an equals sign!

$variable1: blue;

$darkbrown: burlywood;
$lightbrown: antiquewhite;
$pink: #f94877;
